/* --- SECCIÓN DE BÚSQUEDA --- */
.app-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 8px 16px; /* Reducimos un poco el padding vertical para que el header no quede gigante con el logo de 50px */
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
}
.searchbar-section-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  box-sizing: border-box; /* Evita que el padding ensanche el contenedor más allá del teléfono */
  
  /* 🔥 AGREGA ESTAS DOS LÍNEAS PARA DESPEGARLA DE LOS LADOS */
  padding:10px
}

/* Envoltura del input para posicionar la lupa */
.searchbar-input-wrapper {
  position: relative;
  flex: 1; /* Hace que el input crezca todo lo posible y empuje al botón de filtro al extremo derecho */
  display: flex;
  align-items: center;
  width: 100%;
}

.searchbar-input-icon {
  position: absolute;
  left: 14px;
  font-size: 1.3rem;
  color: #8e8e93;
  pointer-events: none;
}

/* El campo de texto redondeado gris claro */
.search-bar-input {
  width: 100%; /* Fuerza al input a estirarse por completo dentro de su wrapper */
  height: 48px;
  padding: 0 16px 0 44px; /* Espacio para la lupa a la izquierda */
  background-color: #f2f2f7;
  border: 1px solid #f2f2f7;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1e;
  outline: none;
  box-sizing: border-box; /* CRÍTICO: evita que el width: 100% se desfase por los paddings */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.search-bar-input:focus {
  background-color: #ffffff;
  border-color: #c60b2a; /* Borde rojo marca al enfocar */
  box-shadow: 0 0 0 3px rgba(198, 11, 42, 0.1); /* Sutil halo rojo */
}

/* Botón de Ajustes / Filtros */
.filter-action-btn {
  width: 48px;
  height: 48px;
  background-color: #f2f2f7;
  border: 1px solid #f2f2f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.filter-action-btn:hover {
  background-color: #f2f2f7;
}

.filter-icon-style {
  font-size: 1.4rem;
  color: #8e8e93;
}

/* --- ENCABEZADO RECOMENDADOS --- */
.recommended-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.recommended-section-header h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1e;
  margin: 0;
}

.view-all-link {
  font-size: 13px;
  font-weight: 700;
  color: #c60b2a; /* Rojo del mockup */
  cursor: pointer;
}

/* Contenedor vertical de tarjetas */
.searchbar-results-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  padding-bottom: 20px;
}